* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
}




/*----------------------------
      Navigation bar
----------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

li {
    float: left;
    }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
li a:hover:not(.active) {
    background-color: #111;
    }

.active {
    background-color: #4CAF50;
    }
	

/*----------------------------
        Table
----------------------------*/


th, td, table {
  border: 1px solid;
  margin: 0;
}

#pet, #pend-offer, #acc-offer, #taker-offer {
  border: 1px solid;
  overflow: auto;
}

#taker {
  display: inline;
}

thead, tbody, tr {
}

table {
  border:none;
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

table th {
  background-color: yellow;
}

#taker table th{
	background-color: #4CAF50;
}

.first {
  display: none;
}

.right {
  border-right: none;
}

.left {
  border-left: none;
}

.top {
  border-top: none;
}

/*----------------------------
        Pet table
----------------------------*/

#pet {
  margin: 20px auto;
  height: 300px;
  width: 800px;
}

#pet .pet {
  width: 70%;
}

#pet .add {
  width: 30%;
}

#pet .name {
  width: 20%;
}

#pet .type {
  width: 10%;
}

#pet .description {
  width: 40%;
}

#pet .edit {
  width: 6%;
  text-align: center;
}

#pet .delete {
  width: 6%;
  text-align: center;
}

#pet .make-offer {
  width: 18%;
  text-align: center;
}

.header-status {
  height: 40px;
  line-height: 40px;
  vertical-align: top;
}

.content {
  width: 70%;
}


/*----------------------------
        Pending Offer table
----------------------------*/

#pend-offer {
  height: 300px;
  width: 800px;
  margin: 20px auto;
}

.pend-pet{
  width: 15%;
}

.pend-taker {
  width: 15%;
}

.pend-start-date {
  width: 15%;
}

.pend-end-date {
  width: 15%;
}

.pend-price {
  width: 10%;
}

.pend-location {
  width: 25%;
}

.btn-delete {
  width: 5%;
  text-align: center;
}

/*----------------------------
        Accepting offer table
----------------------------*/

#acc-offer {
  height: 300px;
  width: 800px;
  margin: 20px auto;
}

.acc-pet {
  width: 20%;
}
.acc-taker, .acc-start-date, .acc-end-date {
  width: 20%;
}

.acc-rating {
  width: 20%;
}

/*------------------------------
    Taker offer section
--------------------------------*/
#taker-offer {
  height: 300px;
  width: 800px;
  margin: 20px auto;
}

.taker-pet {
  width: 15%;
}

.taker-user {
  width: 15%;
}

.taker-start-date {
  width: 15%;
}

.taker-end-date {
  width: 15%;
}

.taker-price {
  width: 10%;
}

.taker-location {
  width: 20%;
}

.taker-accept {
  width: 5%;
  text-align: center;
}

.taker-reject {
  width: 5%;
  text-align: center;
}
/*----------------------------
      Button
----------------------------*/

.btn-offer {
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  width: 200px;
  color: white;
  padding: 14px 20px;
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
}

.btn-offer:hover {
  background-color: #45a049;
}

div.container {
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
 	justify-content: center;
    width: 100%;
}
/*
input[type=submit], .btn-offer {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
*/

/*----------------------------
      Rating Stars
----------------------------*/

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}
.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}
.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}
.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}
.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}